{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  {%block content%}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <link
      rel="stylesheet"
      href="{{ url_for('forum_bp.static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="trading">
      <h1>Create a post</h1>
      <form method="POST" class="form">
        {{ form.hidden_tag() }} <br />
        {{ form.title.label }} {{ form.title()|safe }} <br />
        {{ form.body.label }} {{ form.body()|safe }}
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <h1>Posts</h1>

    <div class="posts">
      {%for post in posts%}

      <div class="post">
        <h3>{{post.title}}</h3>
        <p>{{post.body}}</p>
        <p>posted by: {{post.user}}</p>
        <img class="main-img" src="{{post.main_pokemon_img}}" />
      </div>
      {%endfor%}
    </div>
    {%endblock%}
  </body>
</html>
