{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Profile</title>
  </head>
  <body>
    {%block content%}
    <h1>choose a pokemon for your profile</h1>
    <form method="POST">
      {{ form.hidden_tag() }} <br />
      <label for="pokemon">Pokemon</label>
      {{form.pokemon(multiple="multiple")|safe}} {% if form.pokemon.errors %}{{
      form.pokemon.errors[0] }}{% endif %}
      <br />
      <input type="submit" value="Submit" />
    </form>
    {%endblock%}
  </body>
</html>
