.card {
  position: relative;
  background-image: url("https://i.pinimg.com/474x/ed/c7/c6/edc7c6437653ab73346c7bf08c884077.jpg");
  width: 200px;
  height: 300px;
  background-size: 200px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card h4 {
  position: absolute;
  left: 28px;
  bottom: 245px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.img {
  position: relative;
  width: 125px;
  bottom: 50px;
}

.mini-card {
  position: relative;
  background-image: url("https://i.pinimg.com/474x/ed/c7/c6/edc7c6437653ab73346c7bf08c884077.jpg");
  width: 100;
  height: 150px;
  background-size: 100px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.mini-img {
  position: relative;
  width: 65px;
  bottom: 27px;
}

.buttons {
  margin-bottom: 30px;
}
