.navbar-space {
  width: 100%;
  height: 50px;
}

.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  /* position: fixed; */
  flex-direction: row;
  background-color: cornflowerblue;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  border-bottom-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navbar-vertical {
  z-index: 1;
  position: fixed;
  width: 100%;
  flex-direction: row;
  background-color: cornflowerblue;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  border-bottom-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: none;
}

@media (max-width: 1040px) {
  .navbar {
    display: none;
  }

  .navbar-vertical {
    display: flex;
  }
}

.navbar * {
  text-decoration: none;
  color: black;
}

.navbar-vertical * {
  text-decoration: none;
  color: black;
}

.links {
  font-size: x-large;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.vetical-links {
  display: none;
  background-color: cornflowerblue;
  font-size: x-large;
  font-weight: 500;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 60px;
  gap: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.profile {
  position: absolute;
  left: 10px;
}

.menu-btn {
  position: absolute;
  right: 35px;
  /* pointer-events: none; */
}

#toggle {
  position: absolute;
  right: 0px;
  opacity: 0;
  width: 100px;
  height: 20px;
}

#toggle:checked + div {
  display: flex;
}
