{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  {%block content%}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trading</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='cards.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('forum_bp.static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="trading">
      <h1>create a listing</h1>
      <form method="POST" class="form">
        {{ form.hidden_tag() }} <br />
        {{ form.currency.label }} {{ form.currency()|safe }} <br />
        <label for="pokemon">Pokemon</label>
        {{form.pokemon(multiple="multiple")|safe}} {% if form.pokemon.errors
        %}{{ form.pokemon.errors[0] }}{% endif %}
        <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <h3>Market Listings:</h3>
    <div class="posts">
      {%for post in transactions%} {%if post.offer_approved != True%}
      {{offer_approved}}
      <h1>{{offer_approved}}</h1>
      <div class="post">
        <h1>{{post.currency}}$</h1>
        <div class="card">
          <h4>{{post.pokemons}}</h4>
          <img class="img" src="{{post.img}}" />
        </div>
        <h4>posted by: {{post.profile}}</h4>
        {%if post.profile != current_user.name%}
        <div class="buttons">
          <button>
            <a href="{{url_for('trading_bp.trade', transaction_id=post.id)}}"
              >Trade</a
            >
          </button>
          <button>
            <a href="{{url_for('trading_bp.buy', transaction_id=post.id)}}"
              >Buy</a
            >
          </button>
        </div>
        {%endif%} {%if post.offer_pokemon%}

        <div class="offer">
          <div class="offer-top">
            <div class="offer-text">
              <h3>offer from: {{post.offer_user}}</h3>
              <h5>card: {{post.offer_pokemon}}</h5>
              <h5>coins: {{post.offer_currency}}$</h5>
            </div>
            <div class="offer-mini-card">
              <div class="mini-card">
                <img class="mini-img" src="{{post.offer_img}}" />
              </div>
            </div>
          </div>
          <div class="buttons">
            {%if current_user.name == post.offer_user%}
            <button>
              <a
                href="{{url_for('trading_bp.cancel_offer', transaction_id=post.offer_id)}}"
                >cancel offer</a
              >
            </button>
            {%else%}
            <div class="buttons">
              <button>
                <a
                  href="{{url_for('trading_bp.accept_offer', transaction_id=post.offer_id)}}"
                  >accept</a
                >
              </button>
              <button>
                <a
                  href="{{url_for('trading_bp.reject_offer', transaction_id=post.offer_id)}}"
                  >reject</a
                >
              </button>
            </div>
            {%endif%}
          </div>
        </div>
        {%endif%}
      </div>
      {%endif%} {%endfor%}
    </div>
    {%endblock%}
  </body>
</html>
