{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  {%block content%}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='cards.css') }}"
    />
  </head>
  <body>
    <h1>send an offer</h1>
    <h1>what you get:</h1>
    <div class="card">
      <h4>{{pokemon_get.name}}</h4>
      <img class="img" src="{{pokemon_get.img}}" />
    </div>
    <h1>what you give:</h1>
    <form method="POST">
      {{ form.hidden_tag() }} <br />
      {{ form.currency.label }} : {{ form.currency()|safe }} <br />
      <label for="pokemon">Pokemon</label>
      {{form.pokemon(multiple="multiple")|safe}} {% if form.pokemon.errors %}{{
      form.pokemon.errors[0] }}{% endif %}
      <br />
      <input type="submit" value="Submit" />
    </form>
    {%endblock%}
  </body>
</html>
